
img{
	float:right;
	right: 50px;
	top: 50px;
	max-width: 25rem;
	padding-top: .5rem;
  	padding-right: .5rem;
  	padding-bottom: .5rem;
  	padding-left: .5rem;
}
header{
	font-size:5rem;
	font-style: bold;
}
title{
	font-size: 200%;
}
html{
	height: 100%;
}
body{
	background-color: rgba(131, 168, 109);
	height: 100%;
	margin-left:10rem;
}
.right{
	float:right;
	width: 25rem;
}
p{
	left:100px;
	font-family: Arial;
	font-size: 200%;
	font-style: bold;
	margin-left: 100px;
}
.left{
	margin-left:100px;
	max-width: 100rem;
	padding-top: .5rem;
  	padding-right: .5rem;
  	padding-bottom: .5rem;
  	padding-left: .5rem;
	clear: both;
	
}

.sidenav {
    top: .5rem;  
    position: fixed;
    left: 0;
    background-color: rgba(87, 117, 88);
   
}

.sidenav a {
	padding: 15px 10px 10px 16px;
  	font-size: 25px;
  	color: black;
  	display: block;
}

.sidenav a:hover {
  color: #F24C29;
}

.main {
  font-size: 28px; 
}
@media only screen and (max-width: 600px) {
.sidenav {
	position: fixed;
      	display: flex;
    	top: .5rem;
    	background-color: rgba(87, 117, 88);
    	padding-top: 20px;
    
}
h1{
	font-size:5rem;
}
body {
	top:10rem;
    	background-color: rgba(131, 168, 109);
	margin-left:0rem;
}
header{
	padding-top: 5rem;
}
